<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Training\VirtualTypes\Api\WarehouseMgmtInterface" type="Training\VirtualTypes\Model\WarehouseMgmtExtended" />
    <preference for="Training\VirtualTypes\Api\WarehouseRepoInterface" type="Training\VirtualTypes\Model\WarehouseRepo" />
    
    <type name="Training\VirtualTypes\Model\WarehouseRepo">
        <arguments>
            <argument name="warehouseRepo" xsi:type="object">WarehouseRepoExtended</argument>
        </arguments>
    </type>

    <virtualType name="WarehouseRepoExtended" type="Training\VirtualTypes\Model\WarehouseRepo">
        <arguments>
            <argument name="warehouseMgmt" xsi:type="object">Training\VirtualTypes\Model\WarehouseMgmtExtended</argument>
        </arguments>
    </virtualType>
</config>