<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_product_add_after">
        <observer name="vendor2_textfield_add_to_cart" instance="Vendor2\Textfield\Observer\AddToCartObserver"/>
    </event>
</config>