<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
  <menu>
    <add id="Dev_Grid::home" 
         title="Custom Sales Order dev" 
         module="Devanshi_Grid" 
         sortOrder="10" 
         parent="Magento_Sales::sales" 
         resource="Magento_Sales::sales" 
         action="dev_grid/index/index" />
  </menu>
</config>
