<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework/Event/etc/events.xsd">
    <event name="cataloginventory_stock_item_save_after">
        <observer name="devanshi_mod14_inventory_observer" instance="Devanshi\Mod14\Observer\InventoryObserver"/>
    </event>
</config>
